#h1{
  color: brown;
}
#fullDiv{
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;

  text-align: center;
  justify-content: center;
}